body {
    background-color: #D8D7DB;
}
#profile {
    display: flex;
}
#posts {
    width: 50%;
    padding: 15px;
    background-color: #a1805e;
    margin: 15px;
}
#albums {
    width: 50%;
    padding: 15px;
    background-color: #a1805e;
    margin: 15px;
}
h2 {
    color: #4a3924;
}